<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset-8"/>
<meta name="viewport" content="width=device-width" />
<title>Alteração de Usuário</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#barra-navegacao">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a th:href="@{/index/}" class="navbar-brand">Sistema Ezentis</a>
            </div>
            <div class="collapse navbar-collapse" id="barra-navegacao">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/usuario/listarUsuario/}">Usuário</a></li>
                    <li><a th:href="@{/recurso/listarRecurso/}">Recurso</a></li>
                    <li><a th:href="@{/servico/listarServico/}">Ordem de Serviço</a></li>
                </ul>
            </div>
        </div>
    </nav>

	<div class="container">
		<div class="panel-heading" align="center">
			<strong>ALTERAÇÃO DE USUÁRIO</strong>
		</div>
		
		<div class="panel-body">
        	<form class="form-horizontal" th:object="${usuario}" th:action="@{/usuario/alterarUsuario}" method="POST" style="margin: 10px">
        		<div class="form-group">
        			<fieldset>
        				<div class="form-group row">
        					<label>ID</label>
        					<input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
        				</div>
        				<div class="form-group row">
        					<label>NOME</label>
        					<input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome" maxtength="50"/>
        				</div>
        				<div class="form-group row">
        					<label>CPF</label>
        					<input type="text" class="form-control input-sm" th:field="*{email}" autofocus="autofocus" placeholder="Informe o Cpf" maxtength="50"/>
        				</div>
        				<div class="form-group row">
        					<label>E-MAIL</label>
        					<input type="text" class="form-control input-sm" th:field="*{cpf}" autofocus="autofocus" placeholder="Informe o Email" maxtength="50"/>
        				</div>
       				</fieldset>
       			</div> 		
				<div align="center">
					<button type="submit" class="btn btn-sm btn-success">Salvar</button>
					<a th:href="@{/usuario/listarUsuario/}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>